

header{
    display: flex;
    min-height: calc(100vh - 80px) ;
    
}

.left-header{
    
    width: 50%;
    position: relative;
}
.left-header img{
    max-width: 100%;
    max-height: 100%;
    min-width: 90%;
    min-height: 60%;
    position: absolute;
    bottom: 0;
}
.righ-header{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
   
}

.righ-header h2{
    font-size: 40px;

}
.righ-header p{
    /* padding-left: 10px; */
    margin-top: 20px;
    text-align: justify;
    max-width: 400px;
}

.righ-header button{
    background-color: green;
    color: white;
    border: none;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 18px;
}

@media only screen and (max-width: 800px){
    header{
        flex-direction: column;
    }
    .righ-header{
        width: 100%;
        padding: 20px;
    }
    .left-header{
        width: 100%;
    }

    .left-header img{
        /* max-width: 100%;
        max-height: 100%;
        min-width: 60%;
        min-height: 60%; */
        position: initial;
        /* bottom: 0; */
    }


}